<%- contentFor('heros')%>
<section class="hero">
    <div class="hero-content">
      <br>
      <br>
      <br>
      <br> 
      
      
      <h2>Registro RFC</h2>
      <h3>Si deseas consultar tu RFC haz clic en el botón Contacto</h3>
  
      <a href="/" class="btn btn-lg btn-primary">Inicio</a>
      <a href="/contact" class="btn btn-lg btn-primary">Contacto</a>
    </div>
  </section>

  <%- contentFor('body') %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id= "jumbo" class="jumbotron text-center">
    Pagina de inicio
  </div>
  
<%- extra%>