<script>
    function nombre(nom){
        var i=0;
        var palabras=[",","de","del","los"];
    }
    for(i=0; i<=palabras.length; i++){
        nom=nom.replace(palabras[i],"");
    }
    palabras=["jose","maria","j","ma"]
    for(i=0;i<=palabras.length;i++){
        nom=nom.replace(palabras[i],"");
    }
    
</script>
<div class="=jumbotron text-center">
    <h2>Su rfc </h2>
    <h1 style = "text-transform:uppercase;"></h1>
</div>