<h1>Estas en la pagina de Agradecimiento</h1>
<%- contentFor('heros') %>
<section class="hero">
  <div class="hero-content">
    <h2></h2>
    <br>
<br>
<br>
    <h2><p style="font-family: 'Franklin Gothic Medium'; color:black"><THANK-YOU>Gracias por su visita</THANK-YOU></p></h2>

    <a href="/" class="btn btn-lg btn-primary ">Inicio</a>
  </div>
</section>

<%- contentFor('body') %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron text-center">
   
    <%- per.message %>
</div>