<%contentFor('heros')%>
 
<section class="hero">
    <div class="hero-content">
        <h2 style="color: black;">Bienvenido al generador de RFC!</h2>
        <p style="color: black;">Facil y Rapido</p>
           <a href="/contact" class="btn btn-lg btn-primary">¡Consiguelo!</a>
    </div>

    </section>
     
    <%contentFor('body')%>
    <div class="jumbotron text-center">
        Pagina de Inicio
    </div>


    <%-extra%>



