<div id= contactimg class="jumbotron text-center">
  
  
  <h1 style="color: white ; ">Compra</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>¡Facil, rápido y seguro!</h2>
      <p style="color:white;">¡Solo ingresa los datos!</p>

      <h2>Tipo de cambio</h2>
      <h2>COMPRA 19.20</h2>
     
      <form action="/compra" method="POST">
      <!--<form action="/contacto" method="GET"> -->
    

        <div class="form-group">

          <div class="form-group">

          <label>Cuanto desea vender?</label>
          <input type="number" name="number" class="form-control" value="" required placeholder="Cuanto desea vender?">
        </div>
        
        

        
        
          <div class="help-block with-errors"></div>
          </div>
        </div> 
        <button type = "submit" id ="form-submit" class="btn btn-success btn-lg pull-center">Generar</button>
        <div id="msgSubmit" class="h2 text-center hidden"></div>
        <div class=clearfix></div>

      </form>
    </div>
  </div>
</div>

<div id="Myclock">
    
  <script>

    function showTime(){
      var date=new Date();
      var h=date.getHours();
      var m=date.getMinutes();
      var s=date.getSeconds();
      var session ="AM";

      if(h==0){
        h=12;
      }
      if(h>12){
        h=h-12;
        session="PM";
      }
      h=(h<10)?"0"+h:h;
      m=(m<10)?"0"+m:m;
      s=(s<10)? "0"+s:s;

      var time=h+":"+ m + ":"+ s + ""+session;
      document.getElementById("Myclock").innerText=time;
      document.getElementById("Myclock").textContent=time;
      
      setTimeout(showTime,1000);
    }
    showTime();
  </script>