<%contentFor('heros')%>
 
<section class="hero">
    <div class="hero-content">
        <h2 style="color: black;">Bienvenido!</h2>
        <p style="color: black;">Cambio de Divisas Fácil y Rápido</p>
           <a href="/compra" class="btn btn-lg btn-primary">Compra</a>
           <a href="/venta" class="btn btn-lg btn-primary">Venta</a> 
    </div>
    
    
    </section>
     
    <%contentFor('body')%>
    <div class="jumbotron text-center">
        Pagina de Inicio
    </div>

    
    <%-extra%>



