<%contentFor('heros')%>
 
<section class="hero">
    <div class="hero-content">
      <p style="color:white">Cambio de Divisas Fácil y Rápido</p>
        <p style="color:white"><THANK-YOU>Gracias por visitarnos</THANK-YOU></p>
        <a href="/" class="btn btn-lg btn-primary">Generar una nueva transacción</a>
        <br>
        <br>
        <br>
      </div>

    </section>
     
    <%contentFor('body')%>
    <div id=jumbojumbo style="font-size: x-large;" class="jumbotron text-center">
      <%-  per.message%>
    </div>
