<%contentFor('heros')%>
 
<section class="hero">
    <div class="hero-content">
        <h2></h2>
        <p style="color:rgb(40, 40, 241);"><THANK-YOU>Gracias por visitarnos</THANK-YOU></p>

        <a href="/" class="btn btn-lg btn-primary">Generar un RFC nuevo</a>
    </div>

    </section>
     
    <%contentFor('body')%>
    <div class="jumbotron text-center">
      <%- per.message%>
    </div>
